
@{
    ViewBag.Title = "Project Admin";
}

<h2>Administer your Project</h2>

<div ng-app="doffing-admin-module">
    <div>
        <ul>
            <li>Create</li>
            <li>Organize</li>
        </ul>
    </div>
    <div class="admin-main" ui-view>
        <!-- main-->
    </div>
</div>
