@{
    ViewBag.Title = "About Alexandra Doffing";
}
<div class="col-sm-3">
    <img src="/Content/images/about-alex.png" alt="Alex Doffing" class="about" />
</div>
<div class="col-sm-9 about-body">
    <div class="about-me-body">
        <h2 class="body-header">Who?</h2>
        <p>
            I'm Alexandra (Alex!) Doffing, and I am an illustrator and designer in Minneapolis, Minnesota. My work is sometimes feminine and delicate,
            other times bright and playful... always clean and meticulous.
        </p>
        <h2>What?</h2>
        <p>
            I am in the throes of creating a few <<pattern collections>
                >, with which I hope to move toward textile & product design.
                Most recently, I have worked with the national <<city moms blog network>> on dozens of their sister sites' <<cityscape illustrations>>.
        </p>
        <p>
            Major News: I also have an adult coloring book hitting the stands February 4, 2016 (through <<blue star coloring>
                >), with
                30 original flower layouts and patterns! You can buy it on Amazon and a few major retailers... More information soon!
        </p>
        <h2 class="body-header">Why?</h2>
        <p>
            Illustration is a major meditative outlet for me. I am obsessed with specificity--with details--and my work allows a
            small space for full control in my life. The subject matter isn't groundbreaking [it's usually flowers], but the joy
            I get from creating simple beauty is something for which I am grateful.
        </p>
        <p>
            I love what I see others doing with their products: creating beautiful goods and tools for fellow makers. I aspire to
            join them in creating products that dance the line of "want, not need," but also bring that joy and add value to their
            experiences. Even if that is as simple as as some pretty flowers.
        </p>
        <p>
            As I continue to grow, I hope my work will have more and more evidence of handmade care. I want my work to be a product of
            me and my environment, and so I seek surroundings that are diverse, challenging, playful, and honest.
        </p>
        <h2 class="body-header">What else?</h2>
        <p>
            When I'm not doing any of that... you can find me in the kitchen, at the farmers market, scouring Kayak for plane tickets,
            hibernating or tolerating "sports" with my fanatical domestic partner.
        </p>
    </div>
    <div class="contact-me">
        <p>
            If you would like to collaborate, hire me, license my work, etc . , please
            please <<contact me>>. I'd love to hear from you.
        </p>
        <p>
            For news about new products or
            exciting things... <<subscribe to my newsletter>>!
        </p>
    </div>
    <div class="testimonials">
        <h2 class="body-header">Testimonials</h2>
        <p class="quote">
            "Alexandra has been an absolute joy to work with. Her creativity is brilliant. We're extremely
            pleased with the beautiful work she's done for us."
        </p>
        <p class="contributor">Stephanie Flies, Owner of City Moms Blog Network</p>
        <div>
            <p class="quote">
                "We highly recommend using Alex for your designing needs. We came to her to help design our "Save the Date" card that
                uniquely captured our love for all things Minneapolis. They turned out so perfectly that we asked her to also design
                our program and table tents—which she delivered upon above and beyond what we ever imagined. She really "got" our
                style and we received tons of compliments on our wedding day. Alex is very talented, creative, thoughtful and goes
                above and beyond to satisfy her clients. Oh, and if that isn't enough—she works incredibly fast. It was such a
                pleasure working with her and we recommend Alex to anyone looking for a fresh and fun design concept! Thanks, Alex!"
            </p>
            <p class="contributor">Lori & Erin Bodner, Freelance Clients</p>
        </div>
        <div>
            <p class="quote">
                " After purchasing a couple of Alex’s pieces online and hanging them in our new home (and falling in love with them),
                I contacted her about producing a piece of custom art for my wife and my upcoming anniversary. I had never “commissioned”
                a piece of custom art before, so I had no idea what to expect, but Alex made the whole process super easy, and a
                lot of fun. She was awesome to work with, and really made my vision come to life in a fantastic piece of art.
                She solicited my feedback in each stage and was open to suggestions and tweaks to the piece along the way,
                while putting her own twist on the suggestions to make them really fit the piece. Overall, I couldn’t be
                happier with the process or the final product, all at a really fair price. I’ve already told some friends
                about her, and would recommend her to anyone else looking to do something similar.​"
            </p>
            <p class="contributor">
                Dan M.​, Freelance Client
            </p>
        </div>
    </div>

</div>
