@{
    ViewBag.Title = "About Alexandra Doffing";
}

<div class="col-sm-3">
    <img src="/Content/images/about-alex.png" alt="Alex Doffing" class="about"/>
</div>
<div class="col-sm-9">
    <h1>About Alexandra Doffing</h1>
    <h2>Hello!</h2>
    <p>I am a Minnesota artist, based in Minneapolis. I attended Drake University and received degrees for Graphic Design and Creative Advertising in the spring of 2010.</p>
    <p>As you will see, my work is composed of primarily graphite drawings and flat, vector illustrations. I am expanding into pattern making, which seems to be my happy place. This site was a foray into web design, which is another area in which I am gaining ground.</p>
    <p> I am very open to any freelance opportunities, be they for illustration, design, or other creative project. Please <a href="mailto:doffingdesign@gmail.com">inquire</a> to start a conversation regarding any custom design work.</p>
    <p>
        <i>Member of <a href="http://www.aiga.org/" target="_blank">AIGA</a> since 2009.</i>
        <h2>Client Testimonials</h2>
    <p>
        "Alexandra has been an absolute joy to work with. Her creativity is brilliant. We're extremely pleased with the beautiful work she's done for us."<br />
        <i>Stephanie Flies, Owner of City Moms Blog Network</i>
    </p>
    <p>
        "We highly recommend using Alex for your designing needs. We came to her to help design our "Save the Date" card that uniquely captured our love for all things Minneapolis. They turned out so perfectly that we asked her to also design our program and table tents&mdash;which she delivered upon above and beyond what we ever imagined. She really "got" our style and we received tons of compliments on our wedding day. Alex is very talented, creative, thoughtful and goes above and beyond to satisfy her clients. Oh, and if that isn't enough&mdash;she works incredibly fast. It was such a pleasure working with her and we recommend Alex to anyone looking for a fresh and fun design concept! Thanks, Alex!"<br />
        <i>Lori &amp; Erin Bodner</i>
    </p>
</div>
