<div>
    <h1 class="body-header">Contact</h1>
    <p>Email is the best way to contact me directly: <a href="mailto:alex@alexandradoffing.com">alex@alexandradoffing.com</a></p>
    <p>The portfolio on this site is not the only place to see my work. I belong to these networks (and update them with varying levels of regularity) as well:</p>
    <ul>
        <li><a href="https://www.behance.net/AlexandraDoffing" target="_blank">Behance</a></li>
        <li><a href="https://dribbble.com/alexandradoffing" target="_blank">Dribbble</a></li>
        <li><a href="https://twitter.com/doffingdesign" target="_blank">Twitter</a></li>
        <li><a href="https://doffingdesign.wordpress.com/" target="_blank">Wordpress</a></li>
        <li><a href="https://instagram.com/doffingdesign/" target="_blank">Instagram</a></li>
        <li><a href="https://www.linkedin.com/pub/alexandra-doffing/20/2b3/624" target="_blank">Linkedin</a></li>
    </ul>
    <p>Or you can buy my wares any of these kind places:</p>
    <ul>
        <li><a href="http://society6.com/doffingdesign" target="_blank">Society6</a></li>
        <li><a href="http://www.spoonflower.com/profiles/doffingdesign" target="_blank">Spoonflower</a></li>
        <li><a href="http://www.shareasale.com/r.cfm?b=651857&u=1006583&m=27987&urllink=&afftrack=" target="_blank">Murals Your Way</a></li>
        <li><a href="https://www.etsy.com/shop/DoffingDesign?ref=hdr_shop_menu" target="_blank">Etsy</a></li>
    </ul>
</div>