@{
    ViewBag.Title = "Alexandra Doffing Design";
}

@section head
{
    @Styles.Render("~/Content/homeCss")
}

<div class="main row">
    <div class="main-image col-md-8">
        <img src="http://i.imgur.com/oCcmdt3.jpg" alt="My Workspace">
        <a href="~/Home/About">
            <div class="overlay">
                <h1>ABOUT ALEX</h1>
                <span class="ruler"></span>
                <p>Biography / Process / Testimonials</p>
            </div></a>
    </div>
    <div class="side-images col-md-4">
        <div class="drawing col-md-12 col-xs-6">
            <img src="http://i.imgur.com/MsVyZ5z.jpg" alt="Drawings">
            <a href="~/Project/Drawings">
                <div class="overlay">
                    <h2>DRAWINGS</h2>
                    <span class="ruler"></span>
                    <p>Portraits / Florals</p>
                </div>
            </a>

        </div>
        <div class="vector col-md-12 col-xs-6">
            <img src="http://i.imgur.com/OMdaYXz.jpg" alt="Vectors">
            <a href="~/Project/Vector">
                <div class="overlay">
                    <h2>VECTOR ART</h2>
                    <span class="ruler"></span>
                    <p>Patterns / Cityscapes</p>
                </div>
            </a>
        </div>
    </div>

</div>