@{
    ViewBag.Title = "Alexandra Doffing Design";
}

@section head
{
    @Styles.Render("~/Content/homeCss")
}

<div class="main row">
    <div class="main-image col-lg-8 col-md-9">
        <img src="/Content/images/myworkspace.jpg" alt="My Workspace">
        <a href="~/Home/About">
            <div class="overlay">
                <h1>ABOUT ALEX</h1>
                <span class="ruler"></span>
                <p>Biography / Process / Testimonials</p>
            </div></a>
    </div>
    <div class="hidden-lg hidden-md spacer"></div>
    <div class="side-images col-lg-4 col-md-3">
        <div class="drawing col-md-12 col-sm-6">
            <img src="/Content/images/drawings.jpg" alt="Drawings">
            <a href="~/Project/Drawings">
                <div class="overlay">
                    <h2>DRAWINGS</h2>
                    <span class="ruler"></span>
                    <p>Portraits / Florals</p>
                </div>
            </a>

        </div>
        <div class="vector col-md-12 col-sm-6">
            <img src="/Content/images/vector.jpg" alt="Vectors">
            <a href="~/Project/Vector">
                <div class="overlay">
                    <h2>VECTOR ART</h2>
                    <span class="ruler"></span>
                    <p>Patterns / Cityscapes</p>
                </div>
            </a>
        </div>
    </div>

</div>