@using DoffingDotCom.Web.Secrets
@{
    ViewBag.Title = "Alexandra Doffing Design";
    var cdnPath = EnvironmentSettings.CdnPath;
}

@section head
{
    <meta name="description" content="Freelance illustration and graphic design portfolio; vector graphics and realistic pencil drawings available for purchase or licensing" />
    @Styles.Render("~/Content/homeCss")
}

<div class="main">
    <div class="block hero-image">
        <a href="~/Project/Patterns/handmade-florals">
            <img src="@cdnPath/hero-anemones.jpg" alt="Hero Anemones" class="desktop"/>
            <img src="@cdnPath/hero-anemones-mobile.jpg" alt="Hero Anemones" class="mobile"/>
        </a>
    </div>
    <div class="block-images">
        <div class="block coloring-book">
            <a href="~/Project/Illustration/adult-coloring-book">
                <img src="@cdnPath/block-1-coloring.png" alt="Coloring Book"/>
            </a>
        </div>
        <div class="block portraits">
            <a href="~/Project/FineArt/flowers-in-her-hair">
                <img src="@cdnPath/block-2-portraits.jpg" alt="Portraits"/>
            </a>
        </div>
        <div class="block cmbn">
            <a href="~/Project/Illustration/city-moms-blog-network">
                <img src="@cdnPath/block-3-cmbn.png" alt="City Mom Blog Network"/>
            </a>
        </div>
    </div>
</div>