@using DoffingDotCom.Web.Services

@{
    string cookieToken, formToken;
    AntiForgery.GetTokens(null, out cookieToken, out formToken);
    var headerVal = cookieToken + ":" + formToken;
}

<div class="subscribe-form-block">
    <div class="callout">Sign up for my newsletter!</div>
    <div class="email-form">
        <div>
            <input type="text" name="email" id="emailInput" placeholder="email address" autocomplete="nope" />

        </div>
        <div>
            <div class="button" id="subscribe">Subscribe</div>
        </div>
    </div>

</div>

<script>
    ns.initNewsletterForm('@headerVal');
</script>