@using DoffingDotCom.Web.Services


<div class="subscribe-form-block">
    <div class="callout">Sign up for my newsletter!</div>
    <div class="email-form">
        <div>
            <input type="text" name="email" id="emailInput" placeholder="email address" />
            
        </div>
        <div>
            <div class="button" id="subscribe">Subscribe</div>
        </div>
    </div>
    
</div>

<script>
    @functions{

        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }

    }

    (function () {
        var $button = $('#subscribe'),
            $emailForm = $('#emailInput'),
            $formBlock = $('.subscribe-form-block');

        $button.on('mousedown', function(evt) {
            var $this = $(this);
            $this.addClass('pressed');
        });

        $button.on('mouseup', function(evt) {
            var $this = $(this);
            $this.removeClass('pressed');
        });

        $button.click(function (evt) {
            evt.preventDefault();

            var data = {
                email: $emailForm.val()
            };

            $.ajax("api/contact/newsletter", {
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),

                dataType: 'json',
                headers: {
                    '@RequestForgeryService.TokenHeader': '@RequestForgeryService.GetTokenHeaderValue()'
                },
                success: onSuccess,
                error: onError
            });
        });

        function onSuccess(resp) {
            //confirm success!
            console.log(resp);
            $emailForm.val('');
        }

        //function countDownLetters(selectorFunc, setterFunc) {
        //    var timeToDelay = 30;
        //    var val = selectorFunc();

        //    while (val !== '') {
        //        var oldVal = val;
        //        val = oldVal.substring(0, oldVal.length - 1);

        //        setTimeout(function() {
        //            setterFunc(val);
        //        }, timeToDelay);
        //    }
        //}

        function onError(err, xhr, some) {
            //what do we do here????
            console.log(err, xhr, some);
        }
    })()
</script>