/* Footer */

.footer {
	float: left;
	clear: both;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 60%;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 25px;
}

.footer p {
	margin: 5px 0 5px 0;
}

.social {
	width: 120px;
	height: 23px;
	margin: 0px auto 15px auto;
	padding: 0px;
}

.social a {
	display: block;
	float: left;
	height: 23px;
	width: 30px;
	margin: 0px;
	background-image: url("./images/sm-sprite-1.jpg");
}

.social a.dribbble {
	background-position: 0px -25px;
}

.social a:hover.dribbble {
	background-position: 0px -50px;
}

.social a.twitter {
	background-position: -30px -25px;
}

.social a:hover.twitter {
	background-position: -30px -50px;
}

.social a.instagram {
	background-position: -60px -25px;
}

.social a:hover.instagram {
	background-position: -60px -50px;
}

.social a.linkedin {
	background-position: -90px -25px;
}

.social a:hover.linkedin {
	background-position: -90px -50px;
}
