.header-font {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
.unstyled-link a {
  color: initial;
  text-decoration: none;
}
.footer {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
.footer .misc > div {
  margin: 10px 0;
}
.footer .misc .copyright {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.footer .misc .social-links {
  display: flex;
  justify-content: space-between;
}
.footer .misc .social-links div a {
  display: inline-block;
  height: 27px;
  width: 27px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer .misc .social-links div.tumblr > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: 0px;
  background-position-y: 0px;
}
.footer .misc .social-links div.tumblr > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: 0px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.dribbble > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -27px;
  background-position-y: 0px;
}
.footer .misc .social-links div.dribbble > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -27px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.instagram > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -54px;
  background-position-y: 0px;
}
.footer .misc .social-links div.instagram > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -54px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.behance > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -81px;
  background-position-y: 0px;
}
.footer .misc .social-links div.behance > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -81px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.linkedin > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -108px;
  background-position-y: 0px;
}
.footer .misc .social-links div.linkedin > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -108px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.facebook > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -135px;
  background-position-y: 0px;
}
.footer .misc .social-links div.facebook > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -135px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.twitter > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -162px;
  background-position-y: 0px;
}
.footer .misc .social-links div.twitter > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -162px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.etsy > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -189px;
  background-position-y: 0px;
}
.footer .misc .social-links div.etsy > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -189px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .misc .social-links div.society6 > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -216px;
  background-position-y: 0px;
}
.footer .misc .social-links div.society6 > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -216px;
  background-position-y: 0px;
  background-position-y: -27px;
}
@media (min-width: 970px) {
  .footer {
    max-width: 921.5px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }
  .footer > div {
    max-width: 46%;
  }
  .footer .misc .social-links {
    justify-content: flex-end;
  }
  .footer .misc .social-links > div {
    margin-left: 4%;
  }
}
@media (min-width: 1025px) {
  .footer {
    max-width: 1111.5px;
  }
}