.header-font {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
.unstyled-link a {
  color: initial;
  text-decoration: none;
}
.footer {
  font-family: 'Montserrat', 'Arial', sans-serif;
  /*& > div {
        position: relative;
    }*/
}
.footer .copyright {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
@media (max-width: 991px) {
  .footer .copyright {
    text-align: center;
  }
}
.footer .social-links {
  position: relative;
  right: -30%;
}
@media (max-width: 991px) {
  .footer .social-links {
    margin: auto;
    width: 45%;
    right: 0;
  }
}
.footer .social-links div {
  display: inline-block;
}
.footer .social-links div a {
  display: inline-block;
  height: 27px;
  width: 27px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer .social-links div.tumblr > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: 0px;
  background-position-y: 0px;
}
.footer .social-links div.tumblr > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: 0px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.dribbble > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -27px;
  background-position-y: 0px;
}
.footer .social-links div.dribbble > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -27px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.instagram > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -54px;
  background-position-y: 0px;
}
.footer .social-links div.instagram > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -54px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.behance > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -81px;
  background-position-y: 0px;
}
.footer .social-links div.behance > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -81px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.linkedin > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -108px;
  background-position-y: 0px;
}
.footer .social-links div.linkedin > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -108px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.facebook > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -135px;
  background-position-y: 0px;
}
.footer .social-links div.facebook > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -135px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.twitter > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -162px;
  background-position-y: 0px;
}
.footer .social-links div.twitter > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -162px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.etsy > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -189px;
  background-position-y: 0px;
}
.footer .social-links div.etsy > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -189px;
  background-position-y: 0px;
  background-position-y: -27px;
}
.footer .social-links div.society6 > a {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -216px;
  background-position-y: 0px;
}
.footer .social-links div.society6 > a:hover {
  background-image: url("http://mjproductionstorage.blob.core.windows.net/doffingdesign/sm-sprite-1.png");
  background-position-x: -216px;
  background-position-y: 0px;
  background-position-y: -27px;
}
@media (min-width: 961px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    max-width: 80%;
  }
  .footer > div {
    width: 46%;
  }
}