@import "global.less";

@media (min-width:@mobileSize) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:@tabletSize) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:@desktopSize) { /* big landscape tablets, laptops, and desktops */
}

/*
image urls
drawings - http://i.imgur.com/Al1JzKh.jpg
main - http://i.imgur.com/uNZbLk5.jpg
vector - http://i.imgur.com/tC6aMCt.jpg
logo - http://i.imgur.com/VHrnmgX.png
*/


.background-image-it(@url) {
    background: url(@url) no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    height: 100%;
    width: 100%;
}

#header, #footer {
    height: 200px;
    border: 2px dotted blue;
}

.main {
    width: @mobileSize;
    margin: auto;
}

/*overlay
show in top left of image for medium and small, hide on large
*/
/*.overlay {
  display: none;
  position: absolute;
}*/

/* image links to projects, about etc */
.block {
    display: block;
    /*height: 300px;*/
    width: @mobileSize;
    /*max-width: @mobileSize;*/
    margin-bottom: 5px;
    /*border: 1px dotted red;*/

    > a {
        display: block;
        width: 100%;

        > img {
            width: 100%;
        }
    }
}

@media (min-width: @tabletSize) {
    .main {
        width: @tabletSize;
    }

    .block.hero-image {
        width: 100%;
    }

    .block-images {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        /* align children tiles in line, equally spaced */
        & > div {
            display: inline-block;
            /*height: 275px;*/
            width: 31%;
        }
    }
}

@media (min-width: @desktopSize) {
}
