@model DoffingDotCom.Web.Models.Project.ProjectListViewModel

@{
    ViewBag.Title = "IndexByType";
}

<h3>@Model.ProjectType Projects</h3>

@foreach (var proj in @Model.Projects.OrderBy(p => p.SortOrder))
{

    <div class="col-md-4">
        <h3>@proj.Title</h3>
        @Html.ActionLink("Click here to access project", "Project", new { projectId = proj.ProjectId })
    </div>

}

